<!DOCTYPE html>
<html>

<head>
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>

<body>
    <div class="header_container">
        <header>
            <a class="logo">LOGO</a>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
            </nav>
            <div class="button">
                <a href="#" class="account-button" id="account-button">
                    <img src="images/account_image.png" alt="иконка аккаунта">
                </a>
            </div>
        </header>
    </div>

    <div class="content">
        <h1>Профиль пользователя</h1>
        <p>Имя: <%= user.name %>
        </p>
        <p>Email: <%= user.email %>
        </p>

        <h2>Недавно купленные товары:</h2>
        <ul>
            <% user.recentlyPurchasedItems.forEach(item=> { %>
                <li>
                    <%= item %>
                </li>
                <% }) %>
        </ul>
    </div>

    <footer>
        <div class="col-sm-6">
            <h3>О нас</h3>
            <p>Краткое описание вашей компании и ее миссии.</p>
        </div>
        <div class="col-sm-6">
            <h3>Контакты</h3>
            <ul class="list-unstyled">
                <li><i class="fa fa-map-marker"></i> Адрес вашей компании</li>
                <li><i class="fa fa-phone"></i> Номер вашего телефона</li>
                <li><i class="fa fa-envelope"></i> Адрес вашей электронной почты</li>
            </ul>
        </div>
    </footer>
</body>

</html>