.header_container {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  padding: 5px 10%;
  box-shadow: 0 5px 10px #000;
  z-index: 99999;
}

  header .logo {
    font-size: 30px;
    font-weight: 900;
    color: #000;
    transition: .5s;
  }
  
  header .logo:hover {
    transform: scale(1.2);
  }
  
  header nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left;
  }
  
  header nav ul li a {
    padding: 14px;
    color: #000;
    font-size: 18px;
    display: block;
  }
  
  header nav ul li a:hover {
    background: #000;
    color: #fff;
  }
  
  .account-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
  }
  
  .account-button img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: block;
    margin: auto;
    object-fit: cover;
  }
  
  .account-button a:hover {
    display: inline-block;
  }

  .account-button a:hover img {
    background-color: #f5f5f5;
  }

  .list-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    margin-top: 6px;
  }
  .list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list-container li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
  }
  
  .list-container li:last-child {
    border-bottom: none;
  }
  
  .list-container li:hover {
    background-color: #f5f5f5;
  }
  
  .list-container a {
    text-decoration: none;
    color: #000;
  }
  
  .list-container a:hover {
    color: #ff0000;
  }
  
  

  